body {
  text-align: center;
  letter-spacing: 0.075em;
}

.container {
  min-width: 320px;
  min-height: 100vh;
  color: #fff;
  background: linear-gradient(to right, #214fb0 50%, #dd4745 50%);
}



.topbar {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  height: 60px;
  padding: 0 20px;
  align-items: center;
  background: #1d1f20;
}
.topbar__logo {
  width: 30px;
  margin: 0 10px 0 0;
  filter: invert(1);
}
.topbar__title {
  margin: 0;
  font-size: 1.5em;
  font-weight: 500;
}



.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px 0 40px;
}



.team {
  padding: 20px 0;
}
.team-members {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 600px) { .team-members { flex-direction: row; } }



.player {
  position: relative;
  width: 120px;
  height: 120px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 20%;
  overflow: hidden;
  cursor: pointer;
}
.player + .player { margin: 20px 0 0; }
@media (min-width: 600px) { .player + .player { margin: 0 0 0 20px; } }

.player__icon {
  font-size: 40px;
  line-height: 120px;
}
.player__avatar {
  display: block;
  width: 100%;
}
.player__info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 20px 0 5px;
  line-height: 1.5;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}



.point-container { margin: 40px 0 0; }
.point {
  display: block;
  padding: 20px 0 0;
  font-size: 12vw;
}
@media (min-width: 600px) { .point { font-size: 70px; } }

.slogan {
  margin: 0;
  font-size: 30px;
  line-height: 2;
}



.selector {
  position: fixed;
  top: 65px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  z-index: 2;
  display: flex;
  max-width: 850px;
  margin: 0 auto;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  opacity: 0.9;
}

.selector__header {
  position: sticky;
  top: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 20px;
  background: #555;
}
.selector__input {
  width: 100%;
  padding: 0 0.5em;
  line-height: 2;
}
.selector__button {
  flex-shrink: 0;
  padding: 10px 20px;
  margin-right: -15px;
  cursor: pointer;
}

.selector__main {
  padding: 10px;
  overflow: scroll;
}

.player-list {
  display: grid;
  padding: 10px;
  grid-gap: 10px;
  grid-template-columns: repeat(3, auto);
}
@media (min-width: 500px) { .player-list { grid-template-columns: repeat(4, auto); } }
@media (min-width: 600px) { .player-list { grid-template-columns: repeat(5, auto); } }
@media (min-width: 750px) {
  .player-list br { display: none; }
  .player-list p { padding: 20px 0 10px; }
}

.player-list .player {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 0.8em;
  border-radius: 10%;
}
